* {
    font-family: Helvetica, sans-serif,
}

body {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    max-width: 800px;
}

canvas {
    margin: 0 auto;
    margin-top: 5em;
}

#game_canvas {
    background-image: url(img/canvas.jpg);
    border:1px solid #000000;
}

#hud_canvas {
    margin-top: -800px;
}

p {
    text-align: left;
}

button {
    float: right;
}
