* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0 auto;
    text-align: center;
    width: 80%;
	max-width: 800px;
    
    background-image: url('img/bg.jpg');
    color: #252525;
}

canvas {
    width: 800px;
    height: 600px;
}

#score_holder {
    float: left;
    
    width: 399px;
    background-color: #72FF72;
    border: 1px solid black;
}

#highscore_holder {
    margin-left: 399px;
    background-color: #B22C6F;
    border: 1px solid black;
}

#game_canvas {
    border:1px solid #000000;
    background-image: url(img/canvas.jpg);
}

#canvas_wrapper {
    margin-top: 2em;
    width: 800px;
    height: 600px;
}

#inner_canvas_wrapper {
    position: relative;    
}

.preload {
    width: 0;
    height: 0;
    display: none;
}

.canvas_layer {
    <!-- http://stackoverflow.com/a/14843923 -->
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.game_screen {
    display: none;
    text-align: left;
}

.small {
    margin-top: -2em;
    font-size: 70%;
}
