* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0 auto;
    text-align: center;
    width: 80%;
	max-width: 800px;
    
    background-image: url('img/bg.jpg');
    color: #252525;
}

canvas {
    width: 800px;
    height: 600px;
}

#score {
    float: left;
}

#highscore {
    float: right;
}

#game_canvas {
    border:1px solid #000000;
    background-image: url(img/canvas.jpg);
}

#canvas_wrapper {
    margin-top: 5em;
    width: 800px;
    height: 600px;
}

#inner_canvas_wrapper {
    position: relative;    
}

.preload {
    width: 0;
    height: 0;
    display: none;
}

.canvas_layer {
    <!-- http://stackoverflow.com/a/14843923 -->
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.score {
    margin-left: 1em;
    margin-right: 1em;
    text-align: left;
}

.game_screen {
    display: none;
    text-align: left;
}
