* {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    max-width: 800px;
}

canvas {
    margin: 0 auto;
    margin-top: 5em;
}

.preload {
    width: 0;
    height: 0;
    display: none;
}

#game_canvas {
    background-image: url(img/canvas.jpg);
    border:1px solid #000000;
}

.canvas_layer {
    position: relative;
    left: 0;
    top: 0;
    margin-top: -800px;
}

.score {
    text-align: left;
}
    
#score {
    float: left;
}

#highscore {
    float: right;
}